@tailwind base;
@tailwind components;
@tailwind utilities;

.font-pro {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  :root{
    --swiper-theme-color: #B0662E;

    .swiper-pagination{
      display: flex;
      justify-items: center;
      align-items: center;
      
      
      
      
    }

    

    .swiper-button-next,
.swiper-button-prev {
  width: 40px; 
  height: 40px; 
  background-color: #C8A178; 
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 40%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px; 
  color: #fff; 
}

.swiper-button-next {
  right: 20px; 
}

.swiper-button-prev {
  left: 20px; 
}

.swiper-pagination-bullets {
  display: flex;
  justify-content: center;
  
}

}